*{
  font-family: 'poppins',sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 2%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #7d2ae8;
  
}
img{
  width: 300px;
  height: auto;
  border: 3px solid white;
  border-radius: 20px;
  float: left;
  margin-right: 15px;
  animation: fadeDownRight 17s forwards;
}

@keyframes fadeDownRight{
  0%{
    opacity: 0.4;
    top: 100%;
    right: -100%;
    transform: scaleX(-1) rotate(90deg);
  }
  100% {
    opacity: 1;
    top: 0;
    right: 0;
  }
}
p{
  color: rgb(234, 230, 230);
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

}